on boot
    write /sys/module/cpuidle_t11x/parameters/cpu_power_gating_in_idle 31
    write /sys/module/cpuidle_t11x/parameters/slow_cluster_power_gating_noncpu 1
    write /sys/module/cpuidle_t11x/parameters/stop_mc_clk_in_idle 1
    write /sys/module/cpuidle/parameters/power_down_in_idle 1
    write /sys/module/tegra12_emc/parameters/pasr_enable 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0666 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0666 /sys/module/lazyplug/parameters/lazyplug_active
    chmod 0666 /sys/module/lowmemorykiller/parameters/vmpressure_file_min
    chmod 0666 /proc/sys/vm/min_free_kbytes

    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold 50
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "65 228000:75 624000:85"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000
    write /sys/module/lazyplug/parameters/lazyplug_active 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 40960
    write /proc/sys/vm/min_free_kbytes 32768

    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0444 /sys/devices/system/cpu/cpufreq/interactive/timer_slack

on init
    # Mount a tmpfs into /mnt/tmp for hosting nvram, phs shared memory
    mkdir /mnt/tmp 0770 system system
    mount tmpfs tmpfs /mnt/tmp mode=0775,gid=1003

#set GPS GPIO property, which is used in gps_select
    setprop ro.gps.gpio 61
